.main-app {
	display: flex;
	min-height: 80vh;
	// padding: 0 2rem;

	.sidenav {
		display: flex;
		flex-direction: column;
		min-width: 200px;
		// border: 1px solid black;
		background: #b6c2ff;

		.link {
			// background: #000;
			color: #000;
			border-bottom: 1px solid black;

			padding: 0.8rem 2rem;
			// margin-bottom: 1rem;
			text-decoration: none;
		}
	}
	.content {
		flex: 1;
		padding: 1rem;
	}
}
